    .table_table{
    height: 301px; /* Высота блока */
    width: 226px; /* Ширина блока */

    border: 1px white solid;
        border-radius: 4px;
        background: url(../images/table12.png)  white;
        /* background: url(../images/table12.jpg)  #fc0;  Цвет фона,
                                                         путь к фоновому изображению и
                                                         повторение фона по вертикали */
   }

   .tableBig {
        cursor: pointer;
       font-family: Lato;
       font-size: 14px;
   }
   .mainTable {
       display: inline-block;
       height: 410px; /* Высота блока */
       width: 240px; /* Ширина блока */
       margin: 8px;

   }
   .tableBig2 {
       /*  margin: 15px;

          float: left;*/

   text-align: left;

       font-size: 16px;
       font-weight: 500;
       position: relative;
       color: rgba(51, 51, 51, 1);
       background-repeat: no-repeat;
   }

   .bor_red {
    border: 5px rgba(255, 111, 111, 1)   solid;
       border-radius: 12px;
       min-height: 306px;
       min-width: 238px;
       padding: 2px;
   } .bor_blue {
    border: 5px white   solid;
       border-radius: 12px;
       min-height: 306px;
       min-width: 238px;
       padding: 2px;
   }
.numTable{
    text-align: center;
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
    margin-bottom: 10px;
}
.playerMainBlock{
    position: absolute;
  /*  top: 40px;
    left: 12px;*/
    width: 100%;
}
   .player1{

  color: white;
      padding: 40px 0 0 12px;
      text-align: center;
       font-weight: 700;
       font-size: 18px;
       word-break: break-all;
       max-width: 220px;
   }
      .player2{
     color: white;
          font-weight: 700;
  /*   padding: 60px 0 0 12px;*/
          text-align: center;
          font-size: 18px;
          word-break: break-all;
          max-width: 220px;
   }
      .tableMob_info{
         /* margin: 40px 0 0 1px;*/
          position: absolute;
          top:200px;
          left: 25px;
          color: #D3D3D3;
          font-size: 16px;
          text-align: center;
          width: 80%;
      }
  .startTime{
   /* float: left;*/
   /* color: #6610f2;*/

    margin: 5px 0 0 0;
  }
  .watchTable{
 color: rgba(255, 111, 111, 1);
      font-weight: 600;
  }
  .b600{
      font-weight: 600;
  }
  .workTime
  {
    /*  float: left;*/
      display: inline-block;
  }
  .workTimeName{
 /*   position: absolute;*/
  /*  color: yellow;*/
  /*  bottom: 155px;
    left: 12px;*/
    /*  margin-right: 5px;
    float: left;*/
  }
  .tableEtapPrim{

      font-weight: 700;
      padding-top: 10px;
  }
  .pleyerResult_left
  {
    text-align: left;
  }
  .pleyerResult_right
  {
    text-align: right;
  }
  .btn_finish_game {display: none;}

  .pleyerResult
  { 
 /*   float: left;*/
      text-align: center;
    width: 261px;
    height: 43px;
      font-size: 16px;
      font-weight: 600;
   /*   margin: 30px 0 0 15px;*/
       padding: 3px;
   border: 1px solid rgba(211, 211, 211, 1);
      padding: 12px 8px 12px 8px;
    border-radius: 8px;

  }
   .text-field__input {
 /*     margin: 20px 0 0 15px;*/
      width: 60px;
      height: 43px;
      padding: 0.375rem 0.75rem;
      color: rgba(51, 51, 51, 1);
      border: 1px solid rgba(211, 211, 211, 1);
      border-radius: 8px;
       background-color: rgba(252, 252, 252, 1);
       font-size: 16px;
       font-weight: 600;
       text-align: center;

   }

    .text-field__input::placeholder {
      color: #212529;
      opacity: 0.4;
    }

    .text-field__input:focus {
      color: #212529;
      background-color: #fff;
      border-color: green;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
    .variants_res_vidm {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        font-size: 18px;
        color: rgba(122, 122, 122, 1);
        margin: 5px 0 5px 15px;
        text-decoration: none;
        cursor: pointer;
    }
    .variants_res{
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        color: rgba(122, 122, 122, 1);
        width: 89px;
        height: 39px;
        margin: 3px 3px 0 0;
        padding-top: 5px;
        border: 1px solid rgba(211, 211, 211, 1);
        background-color: rgba(252, 252, 252, 1);
        border-radius: 8px;


    }
    .vibres_vidm{
        border-bottom: 1px solid rgba(122, 122, 122, 1);

    }
    .vibres{

/*        margin-left: 10px;*/
    }
    .winPlayer{
        border: 1px solid rgba(80, 182, 39, 1);
    }
    .losePlayer{
        border: 1px solid rgba(255, 111, 111, 1);
    }
    /* сочетание цветов бесподобно, как-будто кнопка загорается */

a.button14 {
    cursor: pointer;
  display: inline-block;
  text-shadow: 1px 1px #fff;
  text-decoration: none;
  padding: .3em 1em;
  border: 1px solid #aaa;
  border-radius: 100px;
  outline: none;
  background: #d6dbbf no-repeat;
  background-image:
   linear-gradient(to left, #aaa, #aaa),
   linear-gradient(to left, #feffe8, #feffe8),
   linear-gradient(#feffe8, #d6dbbf);
  background-position: calc(100% - 2.7em) 0, calc(100% - 2.7em + 1px) 0, 0 0;
  background-size: 1px 100%, 1px 100%, auto auto;
  overflow: hidden;
}
a.button14:after {
  content: "\bb";
  position: relative;
  bottom: 0;
  display: inline-block;
  margin-left: 1.4em;
  vertical-align: middle;
  font-family: "Times","Times New Roman","serif","sans-serif","EmojiSymbols";
  font-weight: 700;
  font-size: 140%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
a.button14:hover {
  background-color: #fdfd9f;
  background-image:
   linear-gradient(to left, #aaa, #aaa),
   linear-gradient(to left, #feffe8, #feffe8),
   linear-gradient(#fffce7, #fdfd9f);
}
a.button14:active:after {
  bottom: -1.2em;
  transition: .3s;
}
    input.button13 {
    cursor: pointer;
    width: 281px;
    height: 43px;
    border: 1px solid rgba(255, 111, 111, 1);
    border-radius: 8px;
        font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: rgba(255, 111, 111, 1);
        background-color: white;

}
    .btn-myClose{
        cursor: pointer;
        width: 281px;
        height: 43px;
        border: 1px solid rgba(211, 211, 211, 1);
        border-radius: 8px;
        font-family: Lato;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: rgba(122, 122, 122, 1);
        margin-right: 19px;
        background-color: rgba(252, 252, 252, 1);

    }


a.button19 {
      cursor: pointer;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
} 
.button19:hover {
  background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.button19:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
   0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
input.button4 { cursor: pointer;
    width: 390px;
    height: 43px;
    border: 1px solid rgba(80, 182, 39, 1);
    background-color: rgba(80, 182, 39, 0.08);
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    color: rgba(80, 182, 39, 1);

}
    input.buttonOK { cursor: pointer;
        width: 86px;
        height: 43px;
        border: 1px solid rgba(80, 182, 39, 1);
        background-color: rgba(80, 182, 39, 0.08);
        font-size: 16px;
        font-family: Lato;
        font-weight: 600;
        text-align: center;
        border-radius: 8px;
        color: rgba(80, 182, 39, 1);

    }

input.button4:active {
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}


  